# SQLite - simple database

SQLite is a lightweight, disk-based database that doesn't require a separate server process and allows accessing the database using a nonstandard variant of the SQL query language. It is commonly used in applications where a full-featured SQL database engine is overkill. Python has built-in support for SQLite through the sqlite3 module.

### Importing the sqlite3 Module

First, you need to import the sqlite3 module, which comes bundled with Python.

In [1]:
import sqlite3

### Connecting to a Database

You can connect to an SQLite database using sqlite3.connect(). If the database file does not exist, it will be created.

In [2]:
conn = sqlite3.connect('sqlite_example.db')

### Creating a Cursor Object

A cursor object is used to interact with the database. You can create one using the cursor() method of the connection object.

In [3]:
c = conn.cursor()

### Creating a Table

You can create a table using an SQL CREATE TABLE statement executed via the cursor's execute() method.

In [4]:
c.execute('''
          CREATE TABLE IF NOT EXISTS users
          (id INTEGER PRIMARY KEY, name TEXT, age INTEGER)
          ''')

### Inserting Data

To insert data into a table, you can use the INSERT INTO SQL statement.

In [5]:
c.execute('''
          INSERT INTO users (name, age)
          VALUES (?, ?)
          ''', ('Alice', 30))

You can insert multiple rows using executemany().

In [6]:
users = [('Bob', 22), ('Charlie', 25), ('Diana', 27)]
c.executemany('''
              INSERT INTO users (name, age)
              VALUES (?, ?)
              ''', users)

### Querying Data

To query data, use the SELECT statement. The fetchall() method retrieves all rows from the result of the query.

In [7]:
c.execute('SELECT * FROM users')
rows = c.fetchall()

for row in rows:
    print(row)

(3, 'Charlie', 25)
(4, 'Diana', 27)
(7, 'Charlie', 25)
(8, 'Diana', 27)
(10, 'Bob', 22)
(11, 'Charlie', 25)
(12, 'Diana', 27)
(13, 'Alice', 30)
(14, 'Bob', 22)
(15, 'Charlie', 25)
(16, 'Diana', 27)

You can also use fetchone() to retrieve one row at a time or fetchmany(size) to retrieve a specified number of rows.

### Updating Data

To update data in a table, use the UPDATE statement.

In [8]:
c.execute('''
          UPDATE users
          SET age = ?
          WHERE name = ?
          ''', (31, 'Alice'))

### Deleting Data

To delete data from a table, use the DELETE statement.

In [9]:
c.execute('''
          DELETE FROM users
          WHERE name = ?
          ''', ('Bob',))

Check onm the changes

In [10]:
c.execute('SELECT * FROM users')
rows = c.fetchall()

for row in rows:
    print(row)

(3, 'Charlie', 25)
(4, 'Diana', 27)
(7, 'Charlie', 25)
(8, 'Diana', 27)
(11, 'Charlie', 25)
(12, 'Diana', 27)
(13, 'Alice', 31)
(15, 'Charlie', 25)
(16, 'Diana', 27)

### Committing Changes

After making changes (inserts, updates, deletes) to the database, you need to commit the transaction using the commit() method.

In [11]:
conn.commit()

### Closing the Connection

Finally, when you are done with the database, you should close the connection.

In [12]:
conn.close()

## Complete example

In [13]:
import sqlite3

# Connect to the database (or create it)
conn = sqlite3.connect('sqlite_example.db')
c = conn.cursor()

# Create a table
c.execute('''
          CREATE TABLE IF NOT EXISTS users
          (id INTEGER PRIMARY KEY, name TEXT, age INTEGER)
          ''')

# Insert some data
c.execute('''
          INSERT INTO users (name, age)
          VALUES (?, ?)
          ''', ('Alice', 30))

users = [('Bob', 22), ('Charlie', 25), ('Diana', 27)]
c.executemany('''
              INSERT INTO users (name, age)
              VALUES (?, ?)
              ''', users)

# Query the data
c.execute('SELECT * FROM users')
rows = c.fetchall()
for row in rows:
    print(row)

# Update data
c.execute('''
          UPDATE users
          SET age = ?
          WHERE name = ?
          ''', (31, 'Alice'))

# Delete data
c.execute('''
          DELETE FROM users
          WHERE name = ?
          ''', ('Alice',))

# Commit the changes and close the connection
conn.commit()
conn.close()

(3, 'Charlie', 25)
(4, 'Diana', 27)
(7, 'Charlie', 25)
(8, 'Diana', 27)
(11, 'Charlie', 25)
(12, 'Diana', 27)
(13, 'Alice', 31)
(15, 'Charlie', 25)
(16, 'Diana', 27)
(17, 'Alice', 30)
(18, 'Bob', 22)
(19, 'Charlie', 25)
(20, 'Diana', 27)